body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    color: #fff;
    padding: 10px;
}

.logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9900;
}

.iniciar a,
.registrarse a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    margin: 5px;
    transition: background-color 0.3s;
}

.iniciar a:hover,
.registrarse a:hover {
    background-color: #fff;
    color: #131921;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}