<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
</head>
<body>
    <header>
        <h1>Tienda Online</h1>
        <nav>
            <ul>
                <li><a href="http://localhost:4200">Inicio</a></li>
                <li><a href="#">Productos comprados</a></li>
                <li><a href="./agregar">Agregar Producto</a></li>
            </ul>
        </nav>
        <div class="iniciar">
            <a href="login">Iniciar sesión</a>
            <a href="register">Registrarse</a>
        </div>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
        <p>Tienda Online - Todos los derechos reservados</p>
    </footer>
</body>
</html>