{% extends 'index.html' %}

{% block content %}
<div class="vistaProducto">
    <div class="imagen-producto">
        <img src="{{ objeto.imagen.url }}" alt="{{ objeto.nombre }}">
    </div>
    <div class="info-producto">
        <h1>{{ objeto.nombre }}</h1>
        <p>{{ objeto.descripcion }}</p>
    </div>
    <div class="botones">
        <h1 class="precio">$ {{ objeto.precio }}</h1>
        {% if is_authenticated %}
        <a href="#" class="boton">Comprar</a>
        {% else %}
        <a href="register" class="boton">Comprar</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="#" class="boton">Modificar</a>
        <a href="#" class="boton">Eliminar</a>
        {% endif %}
    </div>
</div>
{% endblock %}
